body{
    margin: 0;
}
h1{
    color: black;
    padding-left: 200px;
    height: 75px;
    padding-top: 18.75px;
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    padding: 0px 0px 0px 200px;
    height: 400px;
}

.gallery{
    display: flex;
    height: 300px;
    width: 100%;
}

.box{
    text-align: left;
    list-style-position: inside;
    display: inline-block;
    height: 600px;
    box-sizing: border-box;
    width: 50%;
}

.description{
    width: 100%;
    height: 100px;
}

img{
    width: 400px;
    height: 400px;
}
.block{
    display: block;
    width: 100%;
    height: 400px;
    padding: 0 5%;
    box-sizing: border-box;
}
ol{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    color: #f89554;
}
li{
    margin-bottom: 7.5px;
}
p{
    color: #000712;
    display: inline;
}