body{
    margin: 0;
}
h1{
    background-color: white;
    color: black;
    margin: 0px 0px 50px 200px;
    padding: 5px;
    height: 50px;
    box-sizing: border-box;
}

.container{
    margin-left: 200px;
}

.gallery{
    display: flex;
    padding: 0 25%;
}

.box{
    text-align: left;
    list-style-position: inside;
    display: inline-block;
    margin: 30px;
    width: 50%;
    box-sizing: border-box;
}
.box h3{
    padding: 0 5%;
}

.description{
    width: 100%;
    height: auto;
    padding: 0 28%;
}