body {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: white;
}

.heading{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(24, 24, 148);
    font-family: "Archivo Black", Roboto;
    display: flex;
    font-size: 15px;
}

.header-img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.container{
    margin: 5%;
    text-align: center;
    align-items: left;
    justify-content: left;
    color: black;
    font-family: "Archivo Black", "Roboto";
    display: flex;
    width: 30%;
    height: auto;
    text-decoration: none;
}
.container a:link, a:visited{
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
}
.container a:hover{
    color: black;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-decoration-color: orange;
    font-size: 1.125rem;
}

.container img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.row{
    align-items: left;
    justify-content: left;
    display: flex;
}